body {
  font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #ECEEF1;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

#sign-area {
margin-right: 8px;
}

#sign-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 3px;
}

#lock {
  height: 20px;
  width: 20px;
  position: relative;
  right: 2px;
  top: 2px;
}

nav > button {
  background-color: #0077C5;
  color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
  font-size: 13px;


}

.sign-details {
  font-size: 12px;
}

#sign-1 {
  color: #505050;
}

#sign-2 {
  color: #0077C5;

}

#logo-icons {
  width: 250px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-logo {
  height: 45px;
  width: 125px;
  cursor: pointer;
}

#companies-logo {
  display: flex;
  margin-top: 3px;
}

.logo-details {
  display: flex;
  align-items: center;
  margin: 0 2px;
}

.logos-img {
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.companies-name {
  color: gray;
  font-size: 19px;
  font-weight: 100;
  cursor: pointer;
}

form{
	border: 1px solid #c7c7c7;
	background-color: #fff;
	padding: 30px;
	width: 380px;
	margin: auto;
	border-radius: 2px;
	box-sizing: border-box;

}
#form-head{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #4C4C4C;
}

#form-head1{
   font-size: 24px;
}

#form-head2{
	font-size: 14px;
	margin-top: -2px;
}

#form-head3{
	text-decoration: none;
	font-size: 13px;
	color: #0077C5;
}





